.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tabel1 thead td{
  font-weight: bold;
  background-color: #AAAAAA;
}
.tabel1 tbody td{
  background-color: #FF7F50;
  text-align: left;
}
.tabel1 td:first-child{
  width: 300px;
}
.tabel1 tbody td{
  width: 170px;
}


